/*Seccion Contacto(redes-iconos)*/
.icono li{
    list-style: none;
    display: inline-block;
    padding: 7px;
}

.icono li a{
    padding-right: 5px;
}

#footer-img {
    margin: 0 0 0;
    padding: 0 0 0 0;
}

nav {
    font-family: 'Heebo', sans-serif;
}