.bg-cover {
    background-image: url(img/background_index.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

div>a {
    text-decoration: none;
    color: white;
}

#servicios {
    writing-mode: vertical-rl;
    text-orientation:upright;
    font-size:7vw;
    background-image: url(img/background_index.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.card {
    font-size: 120%;
    height: 33.5%;
    transition: 0.5s;
}

.card:hover {
    transform: scale(1.05);
}

.row {
    margin: 0 0 0 0;
}

#background-servicios {
	background: linear-gradient(-45deg, #862c9c, #1b7a9c, #1da183);
	background-size: 200% 200%;
	animation: gradient 10s ease infinite;
}

.icono li{
    list-style: none;
    display: inline-block;
    padding: 7px;
}

.icono li a{
    padding-right: 5px;
}

#footer-img {
    margin: 0 0 0;
    padding: 0 0 0 0;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


@media screen and (max-width: 900px) {
    #servicios {
        writing-mode: horizontal-tb;
        text-orientation:initial;
        font-size:12vw;
        padding: 3rem 0 0 2rem;
        background-image: none;
    }

    .tabla {
        display: grid;
        grid-template-columns: auto;
        width: 100%;
    }

    .grid-item {
        margin-bottom: 2rem;
    }

    .card {
        height: auto;
    }
}

@media screen and (max-width: 1100px) and (min-width: 900px){

    #servicios {
        writing-mode: horizontal-tb;
        text-orientation:initial;
        font-size:6vw;
        padding: 3rem 0 0 2rem;
        background-image: none;
    }

    .tabla {
        margin: auto;
        display: grid;
        grid-template-columns: auto;
        width: 70%;
    }

    .grid-item {
        margin-bottom: 2rem;
    }

    .card {
        height: auto;
    }
}